<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TC-DOGAKA API</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h1 style="color: wheat">tuKANSOft RESTAPi</h1>
    <h3 style="color: powderblue">DOGAKA Backend Servis v1</h3>
    <h4>Build 1.4.27 / Serhat Zafer ÜLGÜR<sup>®</sup></h4>
    <h6 style="font-style: italic;">Copyright © 2022</h6>
</p>
</body>
</html>